.profile {
  height: 120px;

  .hover {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    height: 100%;
  }


}
.profile:hover {
  background: #24a1ff;
  z-index: 99;
  color: white;
  .hover {
    border: none;
  }
}